[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
#rsa = "*"
pycryptodome = "*"
urllib3 = "*"
python-dateutil = "*"
zeep = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
sync-account = 'python evapp.py sync-account'
get-statements = 'python evapp.py get-statements'
mail-statements = 'python evapp.py mail-statements'
get-wisebatch = 'python evapp.py get-wisebatch'
send-money = 'python evapp.py send-money'
